#main[page="invoice-form"] > section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row wrap;
}

#invoice-form {
    flex: 2;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-flow: column wrap;
    gap: 1.5vmax;
    background-color: var(--container);
    border-radius: 1.5em;
    padding: 2vmax;
}

#invoice-form > section {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-flow: column wrap;
    gap: 0.4vmax;
}

#invoice-form > footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-flow: row wrap;
}

#invoice-form > footer > .button {
    width: 15em;
    height: 3em;
}

#invoice-form > footer > .button i {
    font-size: 1.3em;
}

#invoice-movie {
    flex: 1.6;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row;
    background-color: var(--background);
    border-radius: 2.5em;
    height: 20vmax;
}

#invoice-movie img {
    width: 10vmax;
    height: 100%;
    object-fit: cover;
    border-radius: 0 2.5em 2.5em 0;
}

#invoice-movie > div {
    padding: 2vmax;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-flow: column wrap;
    width: 100%;
    height: 100%;
}

#invoice-movie > div > div:first-child {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-flow: column wrap;
}

#invoice-movie > div > div:first-child h3 {
    margin: 0;
}

#invoice-movie > div > table {
    width: 100%;
}

#invoice-movie > div > table tr td:first-child {
    color: var(--secondary-text);
}

#invoice-movie > div > table tr td:last-child {
    text-align: end;
    padding-block: 0.2vmax;
}

#invoice-movie > div > table tr {
    border-bottom: 1px dashed #383942;
}

#invoice-movie > div > div:last-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
}

#invoice-movie > div > div:last-child h4 {
    margin: 0;
    font-size: 1.5em;
    line-height: 1;
}

#invoice-movie > div > div:last-child h4:last-child {
    font-size: 1.4em;
    background-color: var(--primary);
    color: var(--background);
    border-radius: 1.5em;
    padding: 0.7em;
}

@media screen and (orientation: portrait) {
    #main[page="invoice-form"] {
        gap: 4vmax;
    }

    .main-header {
        padding-block: 1.5vmax;
    }

    #invoice-form {
        padding: 2em;
        gap: 1.6em;
    }

    #invoice-form > footer > .button {
        width: 100%;
    }

    #invoice-movie {
        height: 45vh;
    }

    #invoice-movie > div {
        padding: 3vmax;
    }
    
    #invoice-movie img {
        width: 30vw;
        height: 100%;
        object-fit: cover;
        border-radius: 0 2.5em 2.5em 0;
    }
    
    #invoice-movie > div > div:first-child h3 {
        font-size: 1.2em;
    }
    
    #invoice-movie > div > div:last-child h4 {
        font-size: 1.2em;
    }
    
    #invoice-movie > div > div:last-child h4:last-child {
        font-size: 1.1em;
        padding: 0.8em;
    }
    
    
}