#main[page="movie-details"] {
    border-radius: 1.5em;
    position: relative;
    width: 84%;
    float: right;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: row wrap;
}

#main[page="movie-details"] > section {
    width: 100%;
    position: relative;
    border-radius: 1.5em;
}

#main[page="movie-details"] > section:first-child {
    position: relative;
    z-index: 0;
}


#main[page="movie-details"] > section > img {
    width: 100%;
    height: 40vh;
    object-fit: cover;
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
    border-radius: 1.5em 1.5em 0 0;
}

#main[movie-id="4"] > section > img {
    object-position: 0% 35%;
}

#main[movie-id="7"] > section > img {
    object-position: 0% 20%;
}

#main[movie-id="8"] > section > img {
    object-position: 0% 23%;
}

#main[movie-id="10"] > section > img {
    object-position: 0% 10%;
}

#main[page="movie-details"] > section:last-child {
    margin-top: -7em;
    padding: 3vmax 4vmax;
    background: linear-gradient(to top, var(--container) 90%, transparent);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row wrap;
    gap: 3vmax;
}

#movie-first {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-flow: column wrap;
    gap: 2vmax;
    margin-top: -5em;
}

#movie-first > img {
    width: 25vh;
    height: auto;
    object-fit: cover;
    border-radius: 1.5em;
}

#movie-first h3 {
    font-size: 1.3em;
}

#movie-first > div {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-flow: column wrap;
    gap: 0.5vmax;
}

#movie-first ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-flow: column wrap;
    padding-left: 0;
    gap: 1vmax;
}

#movie-first ul li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
    gap: 0.8vmax;
}

#movie-first ul li > img {
    width: 4vmax;
    height: 4vmax;
    object-fit: cover;
    border-radius: 50%;
    object-position: center 20%;
}

#movie-first ul li p:last-child {
    color: var(--secondary-text);
    font-size: 0.95em;
}

#movie-second {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-flow: column wrap;
    gap: 1.5vmax;
}

#movie-second > header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: column wrap;
    gap: 0.3em;
}

#movie-second h2 {
    font-size: 1.8em;
}

#movie-second > header h3 {
    font-size: 1em;
    color: var(--secondary-text);
}

#movie-second > header a {
    margin-top: 1em;
    width: 15em;
    height: 3em;
    font-size: 1.1em;
    line-height: 1;
    font-weight: 500;
}

#movie-second > header a i {
    font-size: 1.3em;
}

#movie-second > main {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-flow: column wrap;
    gap: 2vmax;
}

#movie-second > main > div {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-flow: column wrap;
}

#movie-second > main div p {
    font-size: 1.1em;
    color: lightgray;
}

#movie-second > main div h3 {
    font-size: 1.4em;
    margin: 0;
}

.movie-info-table tr {
    border-bottom: 1px solid var(--secondary-text);
}

.movie-info-table tr:last-child {
    border-bottom: none;
}

.movie-info-table th {
    width: 8vw;
    padding: 1vmax 1vmax 1vmax 0;
}

.movie-info-table td:not(.movie-info-table td:last-child) {
    padding: 1vmax;
    text-align: center;
    width: 5vh;
}

.movie-schedule {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    margin-top: 1vmax;
    gap: 1vmax;
}

.movie-schedule .button{
    width: 20em;
    height: 3em;
}

.movie-schedule .button[selected="true"] {
    background-color: #ff1a9c;
}

.movie-schedule .button span {
    color: var(--background);
}

#purchase-tickets {
    gap: 0.5vmax;
}

#continue-purchase {
    margin-top: 1vmax;
    align-items: flex-end !important;
}

#continue-purchase .button {
    width: 15em;
    height: 3em;
}

#continue-purchase .button i {
    font-size: 1.3em;
}

#purchase-tickets td, #purchase-tickets th {
    padding: 1vmax;
    border-bottom: 1px solid var(--secondary-text);
}

#purchase-tickets tr th:first-child, #purchase-tickets tr td:first-child {
    padding-left: 0;
}

#schedule[selected-day="false"] {
    display: none;
}

#purchase-tickets[selected-hour="false"], #continue-purchase[selected-hour="false"] {
    display: none;
}