/* Header */

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    gap: 5vmax;
    margin-bottom: 2vmax;
    position: sticky;
    top: 0em;
    backdrop-filter: blur(2em);
    padding-block: 1vmax;
    z-index: 10;
}

#header div:last-child {
    flex: 1;
}

#header div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
    gap: 0.5em;
}

#header div:first-child i {
    font-size: 1.5em;
    color: var(--primary);
}

#header h1 {
    font-size: 1.5em;
    margin: 0;
}

/* aside */ 

aside {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-flow: column;
    width: 14%;
    float: left;
    position: sticky;
    top: 8em;
    gap: 2vmax;
}

aside section {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-flow: column wrap;
    padding: 1.2vmax;
    gap: 0.7vmax;
}

aside #first {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
    gap: 0.7vmax;
}

aside #first div p:last-child {
    font-size: 0.8em;
    color: var(--secondary-text);
    width: 11.1em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

aside #second {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
}

aside #second > div:first-child {
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    flex-flow: column;
    height: 4em;
}

aside #second > div:first-child p:first-child {
    font-size: 0.8em;
    color: var(--secondary-text);
}

aside #second > div:first-child p:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    /* gap: 0.5em; */
    font-size: 1.1em;
}

aside #second > div:first-child i {
    font-size: 1.5rem;
    margin-right: 0.5em;
}

aside ul {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-flow: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 1em;
}

/* main */

#main {
    width: 84%;
    float: right;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: row wrap;
    gap: 2vmax;
}

#main > section {
    width: 100%;
}

#main > .main-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
    gap: 1em;
}

#main > .main-header i {
    font-size: 2em;
    color: var(--primary);
}

#main > .main-header h2 {
    font-size: 2em;
    line-height: 1;
}

#main > section:last-child {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: row wrap;
    gap: 2vmax;
}

.carousel, .carousel-inner {
    width: 100%;
    height: 35rem;
    border-radius: 1.5em;
}
.carousel-item > img {
    width: 100%;
    height: 35rem;
    object-fit: cover;
    object-position: center;
}

.carousel-caption {
    left: 5%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-flow: row wrap;
    gap: 1vmax;
    z-index: 1;
}

.carousel-caption::before {
    content: "";
    position: absolute;
    bottom: -1.25rem;
    left: -15%;
    background: linear-gradient(to top, black, transparent);
    width: 100vw;
    height: 30vh;
    border-radius: 0 0 1.5em 1.5em;
    z-index: -1;
}

.carousel-caption img {
    width: 10vmax;
    height: 15vmax;
    border-radius: 1.2em;
    position: relative;
    object-fit: cover;
}

.carousel-caption div {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: column wrap;
}

.carousel-caption div h2 {
    font-size: 2em;
}

.carousel-caption div h3 {
    color: #ccd5ffcc;
    font-size: 1.5em;
}

.carousel-caption .button {
    width: 15em;
    height: 3em;
    font-weight: 500;
    font-size: 1.2em;
    position: relative;
    z-index: 100;
}

.carousel-caption .button i {
    font-size: 1.5em;
}

/* movie details */

#main[page="movie-details"] {
    border-radius: 1.5em;
    position: relative;
    width: 84%;
    float: right;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: row wrap;
}

#main[page="movie-details"] > section {
    width: 100%;
    position: relative;
    border-radius: 1.5em;
}

#main[page="movie-details"] > section:first-child {
    position: relative;
    z-index: 0;
}

/* #movie-details > section:first-child::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30vh;
    background: linear-gradient(to top, var(--container), transparent);
    z-index: 100;
} */


#main[page="movie-details"] > section > img {
    width: 100%;
    height: 40vh;
    object-fit: cover;
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
    border-radius: 1.5em 1.5em 0 0;
}

#main[page="movie-details"] > section:last-child {
    margin-top: -7em;
    padding: 3vmax 4vmax;
    background: linear-gradient(to top, var(--container) 90%, transparent);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row wrap;
    gap: 3vmax;
}

#movie-first {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-flow: column wrap;
    gap: 2vmax;
    margin-top: -5em;
}

#movie-first > img {
    width: 25vh;
    height: auto;
    object-fit: cover;
    border-radius: 1.5em;
}

#movie-first h3 {
    font-size: 1.3em;
}

#movie-first > div {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-flow: column wrap;
    gap: 0.5vmax;
}

#movie-first ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-flow: column wrap;
    padding-left: 0;
    gap: 1vmax;
}

#movie-first ul li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
    gap: 0.8vmax;
}

#movie-first ul li > img {
    width: 4vmax;
    height: 4vmax;
    object-fit: cover;
    border-radius: 50%;
    object-position: center 20%;
}

#movie-first ul li p:last-child {
    color: var(--secondary-text);
    font-size: 0.95em;
}

#movie-second {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-flow: column wrap;
    gap: 1.5vmax;
}

#movie-second > header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: column wrap;
    gap: 0.3em;
}

#movie-second h2 {
    font-size: 1.8em;
}

#movie-second > header h3 {
    font-size: 1em;
    color: var(--secondary-text);
}

#movie-second > header a {
    margin-top: 1em;
    width: 15em;
    height: 3em;
    font-size: 1.1em;
    line-height: 1;
    font-weight: 500;
}

#movie-second > header a i {
    font-size: 1.3em;
}

#movie-second > main {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-flow: column wrap;
    gap: 2vmax;
}

#movie-second > main > div {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-flow: column wrap;
}

#movie-second > main div p {
    font-size: 1.1em;
    color: lightgray;
}

#movie-second > main div h3 {
    font-size: 1.4em;
    margin: 0;
}

.movie-info-table tr {
    border-bottom: 1px solid var(--secondary-text);
}

.movie-info-table tr:last-child {
    border-bottom: none;
}

.movie-info-table th {
    width: 8vw;
    padding: 1vmax 1vmax 1vmax 0;
}

.movie-info-table td:not(.movie-info-table td:last-child) {
    padding: 1vmax;
    text-align: center;
    width: 5vh;
}

.movie-schedule {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    margin-top: 1vmax;
    gap: 1vmax;
}

.movie-schedule .button{
    width: 20em;
    height: 3em;
}

.movie-schedule .button[selected="true"] {
    background-color: #ff1a9c;
}

.movie-schedule .button span {
    color: var(--background);
}

#purchase-tickets {
    gap: 0.5vmax;
}

#continue-purchase {
    margin-top: 1vmax;
    align-items: flex-end !important;
}

#continue-purchase .button {
    width: 15em;
    height: 3em;
}

#continue-purchase .button i {
    font-size: 1.3em;
}

#purchase-tickets td, #purchase-tickets th {
    padding: 1vmax;
    border-bottom: 1px solid var(--secondary-text);
}

#purchase-tickets tr th:first-child, #purchase-tickets tr td:first-child {
    padding-left: 0;
}

#schedule[selected-day="false"] {
    display: none;
}

#purchase-tickets[selected-hour="false"], #continue-purchase[selected-hour="false"] {
    display: none;
}

/* footer */

#footer {
    clear: both;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column wrap;
    gap: 1em;
    padding-top: 5vmax;
}

#footer section {
    flex: 1;
    width: 100%;
}

#footer section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

#footer section:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    gap: 0.5em;
}

#footer section:first-child i {
    color: var(--primary);
    font-size: 1.8em;
}

#footer section:first-child h2 {
    font-size: 1.3em;
    margin: 0;
}

#footer section:nth-child(2) {
    gap: 2vmax;
}

#footer section:nth-child(2) i {
    font-size: 1.5em;
    color: var(--secondary-text);
}

#footer section:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

#footer section:last-child small {
    color: var(--secondary-text);
}